@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-image: linear-gradient(to right, #3cba92, #fee140);
}

.nav-item {
  font-size: 20px;
}

/* diseño footer */
footer {
  /* gradiente lineal */
  background-image: linear-gradient(to left, #3cba92, #fee140);
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p {
  font-size: 13px;
  margin: 0;
}

.footers {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footers img {
  height: 40px;
}

/* cuerpo del index main */
.inicio {
  display: grid;
  grid-template-areas: "imagen titulo" "imagen subtitulo" "imagen historia";
  justify-items: center;
  background-color: rgb(245, 250, 237);
}
.inicio .titulo {
  grid-area: titulo;
  padding: 5px;
  font-size: 36px;
}
.inicio .titulo:hover {
  font-size: 38px;
  font-weight: bold;
}
.inicio .subtitulo {
  grid-area: subtitulo;
  font-size: 28px;
}
.inicio .imagen {
  grid-area: imagen;
}
.inicio .imagen img {
  height: 56vh;
}
.inicio .historia {
  grid-area: historia;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inicio .historia p {
  padding: 17px;
}

/* mobile last a Inicio */
@media (max-width: 420px) {
  main {
    height: 84vh;
  }
  .inicio {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: rgb(245, 250, 237);
    align-items: center;
  }
  .inicio .imagen img {
    width: 50vw;
    height: 50vw;
  }
  .inicio .titulo {
    font-size: 30px;
  }
  .inicio .subtitulo {
    font-size: 25px;
  }
  .inicio .historia p {
    font-size: 15px;
    padding: 1;
    margin: 1;
  }
}
/* diseño de main de alquiler */
.alquiler {
  display: grid;
  grid-template-areas: "alquiler-titulo alquiler-titulo" "alquiler-subtitulo alquiler-subtitulo" "slide texto";
  height: 56vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgb(245, 250, 237);
}

.alquiler-titulo {
  grid-area: alquiler-titulo;
  font-size: 30px;
}

.alquiler-subtitulo {
  grid-area: alquiler-subtitulo;
  font-size: 24px;
}

.slide {
  grid-area: slide;
}

.texto {
  grid-area: texto;
}

@media (max-width: 420px) {
  main {
    background-color: rgb(245, 250, 237);
  }
  .alquiler {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 250, 237);
    justify-content: space-between;
    height: 85vh;
  }
  .alquiler .alquiler-titulo {
    font-size: 30px;
    padding: 50px;
  }
  .alquiler .alquiler-subtitulo {
    font-size: 28px;
    padding: 5px;
  }
  .alquiler .texto {
    font-size: 25px;
  }
}
/* diseño para ventas y terrenos */
.generico {
  background-color: rgb(245, 250, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.fila img {
  height: 30vh;
  padding: 2px;
}

.card {
  --bs-card-spacer-y: 0.55rem;
}
.card img {
  max-height: 20vh;
}

@media (max-width: 420px) {
  /* main de terreno */
  main {
    width: auto;
  }
  .generico {
    background-color: rgb(245, 250, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1px;
  }
  .generico h1 {
    font-size: 20px;
    margin: 5px;
  }
  .generico h2 {
    font-size: 18px;
    margin: 5px;
  }
  .generico h3 {
    font-size: 18px;
    margin: 5px;
  }
  .generico p {
    display: none;
  }
  .fila {
    display: flex;
    flex-direction: column;
  }
  .fila img {
    height: 100px;
    margin: 5px;
  }
  .row {
    justify-content: space-around;
  }
}
/* contacto y su diseño */
.formulario {
  background-color: rgb(245, 250, 237);
  height: 56vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.formulario h1 {
  font-size: 30px;
}
.formulario h2 {
  font-size: 25px;
}

@media (max-width: 420px) {
  .formulario {
    height: 83vh;
  }
  .formulario h1 {
    margin: 50px;
  }
  .form-control {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */