/* diseño de main de alquiler */

.alquiler {
    display: grid;
    grid-template-areas:
        "alquiler-titulo alquiler-titulo"
        "alquiler-subtitulo alquiler-subtitulo"
        "slide texto";
    height: 56vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(245, 250, 237);
}

.alquiler-titulo {
    grid-area: alquiler-titulo;
    font-size: 30px;

}

.alquiler-subtitulo {
    grid-area: alquiler-subtitulo;
    font-size: 24px;
}

.slide {
    grid-area: slide;
}

.texto {
    grid-area: texto;
}


@media (max-width:420px) {

    main{
        background-color: rgb(245, 250, 237);
    }
    .alquiler{
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 250, 237);
        justify-content: space-between;
        height: 85vh;
        .alquiler-titulo{ 
            font-size: 30px;
            padding: 50px;
        }
        .alquiler-subtitulo{
            font-size: 28px;
            padding: 5px;
        }
        .texto{
            font-size: 25px;
        }
        
    }
    
}