/* diseño footer */

footer{
    /* gradiente lineal */
    background-image: linear-gradient(to left, #3cba92, #fee140); 
 }
 
 .footers {
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }
 
 .footers img{
     height: 40px;
 }
 
 footer p {
     font-size: 13px;
     margin: 0;
 }
 