/* cuerpo del index main */

.inicio {
    display: grid;
    grid-template-areas:
        "imagen titulo"
        "imagen subtitulo"
        "imagen historia";
    justify-items: center;
    background-color: rgb(227, 245, 195);

    .titulo {
        grid-area: titulo;
        padding: 5px;
        font-size: 36px;
        &:hover{
            font-size: 38px;
            font-weight: bold;
        }
    }

    .subtitulo {
        grid-area: subtitulo;
        font-size: 28px;
    }

    .imagen {
        grid-area: imagen;

        img {
            height: 56vh;
        }
    }

    .historia {
        grid-area: historia;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            padding: 17px;
        }
    }

}


/* mobile last a Inicio */

@media (max-width:420px) {

    .inicio {
        display: flex;
        flex-direction: column;
        justify-items: center;
        background-color: rgb(227, 245, 195);
        align-items: center;

        .imagen img {
            width: 17vw;
            height: 17vw;
        }

        .titulo {
            font-size: 12px;
        }

        .subtitulo {
            font-size: 12px;
        }

        .historia p {
            font-size: 8px;
            padding: 0;
            margin: 0;
        }

    }}